<html>
        <head>
            <title>Spotify Data</title>
            <link href="static/css/bootstrap.min.css" rel="stylesheet">
            <link href="static/css/cover.css" rel="stylesheet">
            <link href="static/css/style.css" rel="stylesheet">
            <meta name="viewport" content="width=device-width, initial-scale=1">

        </head>
        <body class="d-flex h-100 justify-content-center text-center text-white bg-dark">
        <div>
            <div class="navigation">
                {{navbar | safe}}
            </div>
            {{searchbar | safe}}
            <h1>Welcome {{name}}!</h1>
            <h1>Here are some of your top songs: </h1>
            <div class='container overflow-scroll w-100 h-75'>
                {% if data['items'] | length == 0 %}
                    <h1>Looks like you don't have any top songs yet! Listen to your favorite songs to see them here!</h1>
                    {% else %}
                    <div class='row'>
                    {%for songs in data['items']%}
                        <div class='col enlarge child'>
                            <figure>
                                <a href="/features/{{songs['id']}}"><img src="{{songs['album']['images'][0]['url']}}" width='250' height='250'></a>
                                <figcaption>
                                <h1>{{songs['artists'][0]['name']}}</h1>
                                <h1>{{songs['name']}}</h1>
                                </figcaption>
                            </figure>
                        </div>
                    {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
        <script type='text/javascript' src='static/js/search.js'></script>
        </body>
</html>