<html>
    <head>
        <title>Spotify Data</title>
        <link href="static/css/bootstrap.min.css" rel="stylesheet">
        <link href="static/css/cover.css" rel="stylesheet">
    </head>
    <body class="d-flex justify-content-center text-center text-white bg-dark">
     
      <div class='container'>
         {{navbar | safe}}
         <br>
          <form action='/converttospotify' method='POST'>
            <input type="text" id='playlist' name='playlist' placeholder="Paste a youtube playlist link here" class="form-control col-lg-10" aria-describedby="button-addon2">
            <button class="btn btn-outline-secondary" type="submit" id="button-addon2" >Submit</button>
          </form>
      </div>
    </body>
</html>