<html>
        <head>
            <title>Spotify Data</title>
            <link href="static/bootstrap.min.css" rel="stylesheet">
            <link href="static/cover.css" rel="stylesheet">
        </head>
        <body class="d-flex h-100 justify-content-center text-center text-white bg-dark">
        <div>
            <header class="mb-auto">
                <nav class="nav nav-masthead justify-content-center float-md-end">
                    <a class="nav-link fs-2" href='/viewplaylists'>My playlists</a>
                    <a class="nav-link fs-2" href='/recommend'>Recommendations</a>
                </nav>
            </header>
            <div>
                <div class="input-group mb-3">
                    <input type="text" id='search' placeholder="Paste the link of a song or playlist here! Or just search a name!" class="form-control" aria-describedby="button-addon2">
                    <button class="btn btn-outline-secondary" type="button" id="button-addon2" onclick="makeSearch()">Search</button>
                </div>        
            </div>
            <h1>Welcome {{user}}</h1>
            <h1>Your top songs<h1>
            <div class='container overflow-auto cont' style='width: 100%; height: 65%;'> 
                <div class='row'>
                {%for songs in data%}
                    <div class='col child'>
                        <tr>
                            <figure>
                                <td><a href="/features?feat={{songs['id']}}&img={{songs['album']['images'][0]['url']}}&artist={{songs['artists'][0]['name']}}&name={{songs['name']}}"><img src="{{songs['album']['images'][0]['url']}}" width='250' height='250'></a></td>
                                <figcaption>
                                    <td>{{songs['artists'][0]['name']}}</td>
                                    <br>
                                    <td>{{songs['name']}}</td>
                                </figcaption>
                            </figure>
                        </tr>
                    </div>
                {%endfor%}
                </div>
            </div>
        </div>
        <script type='text/javascript' src='static/search.js'></script>
        </body>
</html>