<html>
    <head>
        <title>Spotify Data</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" 
              rel="stylesheet" 
              integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" 
              crossorigin="anonymous">
    </head>
    <body>
    <div class="navigation">
        {{navbar | safe}}
    </div>
    <div>
        <h1>Enter a track name or <a href='https://community.spotify.com/t5/Spotify-Answers/What-s-a-Spotify-URI/ta-p/919201'>spotify playlist uri</a> here!</h1>
    </div>
        <script type='text/javascript' src='static/js/search.js'></script>
    </body>
</html>