<html>
    <head>
        <title>Spotify Data</title>
        <link href="static/css/bootstrap.min.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
    <div class="navigation">
        {{navbar | safe}}
    </div>
    {{searchbar | safe}}
    <div>
        <h1>Enter a track name or <a href='https://community.spotify.com/t5/Spotify-Answers/What-s-a-Spotify-URI/ta-p/919201'>spotify playlist uri</a> here!</h1>
    </div>
        <script type='text/javascript' src='static/js/search.js'></script>
    </body>
</html>