<html>
    <head>
        <title>Spotify Data</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" 
              rel="stylesheet" 
              integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" 
              crossorigin="anonymous">
    </head>
    <body>
    <div>
        <a href='/topartists'>Click here to see your top artists</a>
        <a href='/topsongs'>Click here to see your top songs</a>
        <a href='/viewplaylists'>Click here to see your playlists</a>
    </div>
    <div>
        <h1>Enter a track name or <a href='https://community.spotify.com/t5/Spotify-Answers/What-s-a-Spotify-URI/ta-p/919201'>spotify playlist uri</a> here!</h1>
        <div class="input-group mb-3">
            <input type="text" id='search' class="form-control" aria-describedby="button-addon2">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2" onclick="makeSearch()">Search</button>
        </div>        
    </div>
        <script type='text/javascript' src='static/search.js'></script>
    </body>
</html>