<html>
  <head>
      <title>Spotify Data</title>
      <link href="static/css/bootstrap.min.css" rel="stylesheet">
      <link href="static/css/cover.css" rel="stylesheet">
      <link href="static/css/style.css" rel="stylesheet">
  </head>
  <body class="d-flex h-100 justify-content-center text-center text-white bg-dark">
      <div>
          {{navbar | safe}}
          <h1>{{name}} - {{playlistLength}} tracks</h1>
        <div class='container overflow-scroll cont' style='width: 100%%; height: 450px;'>   
            {{table | safe}}
        </div>
          <h1>Danceability</h1>
          <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: {{ dance }}%" aria-valuemin="0" aria-valuemax="1">{{ dance }}</div>
          </div>
          <br>
          <h1>Energy</h1>
          <div class="progress">
              <div class="progress-bar" role="progressbar" style="width:{{ energy }}%" aria-valuemin="0" aria-valuemax="100">{{ energy }} </div>      
          </div>
          <br>
          <h1>Instrumentalness</h1>
          <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: {{instrumental}}% " aria-valuemin="0" aria-valuemax="100">{{instrumental}} </div>
          </div>
          <h1>Valence</h1>
          <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: {{ valence }}%" aria-valuemin="0" aria-valuemax="100">{{valence}}</div>
          </div>
      </div>
          <script type='text/javascript' src='static/js/search.js'></script>
  </body>
</html>