<html>
    <head>
        <title>Spotify Data</title>
        <link href="static/css/bootstrap.min.css" rel="stylesheet">
        <link href="static/css/cover.css" rel="stylesheet">
        <link href="static/css/style.css" rel="stylesheet">
    </head>
    <body class="d-flex justify-content-center text-center text-white bg-dark">
    <div>
        {{navbar | safe}}
        <label>Click on the artist image to get an audio analysis!</label>        
        <div>
            <table><tr><th></th><th>Artist</th><th>Song Name</th><th>Preview</th></tr>
                {%for songs in data%}
                <tr>
                    <td><a href="/features?feat={{songs['id']}}&img={{songs['album']['images'][0]['url']}}&artist={{songs['artists'][0]['name']}}&name={{songs['name']}}"><img src="{{songs['album']['images'][0]['url']}}" width='250' height='250'></a></td>
                    <td>{{songs['artists'][0]['name']}}</td>
                    <td>{{songs['name']}}</td>
                    <td><audio controls src="{{songs['preview_url']}}"></td></tr>
                {%endfor%}
            </table>
        </div>
    </div>
        <script type='text/javascript' src='static/js/search.js'></script>
    </body>
</html>