<html>
    <head>
        <title>Spotify Data</title>
        <link href="../static/css/bootstrap.min.css" rel="stylesheet">
        <link href="../static/css/cover.css" rel="stylesheet">
    </head>
    <body class="box-shadow text-center text-white bg-dark">
        <div class='d-flex flex-column'>
            <div class="navigation">
                {{navbar | safe}}
            </div>
            <div class="d-flex flex-row justify-content-center">
                <div class="feature d-flex justify-content-end">
                    <div>
                        <img src='{{img}}' width="250" height='250'>
                        <h3>{{artist}}</h3>
                        <h3>{{name}}</h3>
                    </div>
                </div>
                <div class="d-flex flex-column w-50 me-3 ms-3">
                    <div>
                        <h1>Danceability</h1>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: {{dance}}%" aria-valuemin="0" aria-valuemax="1">{{dance}}%</div>
                        </div>
                    </div>
                    <div>
                        <h1>Energy</h1>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: {{energy}}%" aria-valuemin="0" aria-valuemax="100">{{energy}}%</div>
                        </div>
                    </div>
                    <div>
                        <h1>Instrumentalness</h1>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: {{instrumentalness}}%" aria-valuemin="0" aria-valuemax="100">{{instrumentalness}}%</div>
                        </div>
                    </div>
                    <div>
                        <h1>Valence</h1>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: {{valence}}%" aria-valuemin="0" aria-valuemax="100">{{valence}}%</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type='text/javascript' src='../static/js/search.js'></script>
    </body>
</html>