<html>
    <head>
        <title>Spotify Data</title>
        <link href="../static/css/bootstrap.min.css" rel="stylesheet">
        <link href="../static/css/cover.css" rel="stylesheet">
        <link href="../static/css/css-circular-prog-bar.css" rel="stylesheet">
    </head>
    <body class="box-shadow text-center text-white bg-dark">
        <div class='d-flex flex-column'>
            <div class="navigation">
                {{navbar | safe}}
            </div>
            <div class="d-flex flex-column justify-content-center flex-wrap">
                <div class="d-flex flex-row justify-content-between">
                    <div class="w-75">
                        <img src='{{img}}' width="250" height='250'/>
                        <h3>{{name}}</h3>
                        <div>
                            <button class="btn btn-outline-secondary" type="button">
                                <a href="/content/albums/{{album_id}}">Click here to view the album</a>
                            </button>
                        </div>
                        <div>
                            <audio volume=".5" controls src="{{preview_url}}">
                        </div>
                        <div class= "d-flex flex-row justify-content-center flex-wrap mt-2">
                            <div>
                                <div class="progress-circle p{{dance}} {% if dance > 50 %}over50{% endif %}">
                                    <span>{{dance}}%</span>
                                    <span style="margin-top: 3em; color:white">Danceability</span>
                                    <div class="left-half-clipper">
                                    <div class="first50-bar"></div>
                                    <div class="value-bar"></div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="progress-circle p{{valence}} {% if valence > 50 %}over50{% endif %}">
                                    <span>{{valence}}%</span>
                                    <span style="margin-top: 3em; color:white">Valence</span>
                                    <div class="left-half-clipper">
                                    <div class="first50-bar"></div>
                                    <div class="value-bar"></div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="progress-circle p{{instrumentalness}} {% if instrumentalness > 50 %}over50{% endif %}">
                                    <span>{{instrumentalness}}%</span>
                                    <span style="margin-top: 3em; color:white">Instrumental</span>
                                    <div class="left-half-clipper">
                                    <div class="first50-bar"></div>
                                    <div class="value-bar"></div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="progress-circle p{{energy}} {% if energy > 50 %}over50{% endif %}">
                                    <span>{{energy}}%</span>
                                    <span style="margin-top: 3em; color:white">Energy</span>
                                    <div class="left-half-clipper">
                                    <div class="first50-bar"></div>
                                    <div class="value-bar"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="features w-50 flex-wrap">
                        <div class="feat">
                            <h2>Time Signature: </h2>
                            <h4>{{time_signature}}/4</h4>
                        </div>
                        <div class="feat">
                            <h2>Tempo: </h2>
                            <h4>{{tempo}} BPM</h4>
                        </div>
                        <div class="feat">
                            <h2>Key: </h2>
                            <h4>{{key}}</h4>
                        </div>
                    </div>
                </div>
    
            </div>
        </div>
        <script type='text/javascript' src='../static/js/search.js'></script>
    </body>
</html>