<html>
    <head>
        <title>Spotify Data</title>
        <link href="static/bootstrap.min.css" rel="stylesheet">
        <link href="static/cover.css" rel="stylesheet">
    </head>
    <body class="text-white bg-dark">
    <div>
        <header class="mb-auto">
            <nav class="nav nav-masthead justify-content-center float-md-end">
                <a class="nav-link fs-2" href='/search'>Search</a>
                <a class="nav-link fs-2" href='/viewplaylists'>My playlists</a>
                <a class="nav-link fs-2" href='/recommend'>Recommendations</a>
            </nav>
        </header>
        <div class="input-group mb-3">
            <input type="text" id='search' placeholder="Paste the link of a song or playlist here! Or just search a name!" class="form-control" aria-describedby="button-addon2">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2" onclick="makeSearch()">Search</button>
        </div>        
    </div>
    <div class='container cont'>
        <div class='row'>
            {%for playlists in data%}
            <div class='col' style='margin: 10px;'>
                {%if playlists['images'] | length == 0 %}
                    {% set image = 'https://www.pngkey.com/png/detail/113-1138845_question-mark-inside-square-question-mark-icon-white.png' %} 
                {%else%}
                    {% set image = playlists['images'][0]['url'] %}
                {% endif %}
                <figure><a href="/playlistdata?playlist={{playlists['uri']}}"><img src="{{image}}" height='300px' width='300px'></a>
                    <figcaption>{{playlists['name']}}</figcaption>
                </figure>
            </div>
            {% endfor %}
        </div>
    </div>
    <script type='text/javascript' src='static/search.js'></script>
    </body>
</html>